// some comments rem remains as it is: 23rem converter
body {
  font-size: 1rem; // this change value 1
  .test-1 {
    width: 30rem; // this change
    height: calc(100vh - 10rem); // this change value 10
  }
}
$width: 30rem; // this change value 30

.test-2rem { // this remains 2
  height: 2rem; // this change value 2
}

$dim: (
  "3rem": 3rem, // this change value but not key
  "3": 3rem // this change value but not key
)
