// some comments rem remains as it is: 23rem converter
body {
  &__init {
    --size: #{$size};
    padding: 0 0.5rem; // this fails
  }
  --test: 2rem; // this change value 2
  font-size: 1rem; // this change value 1
  .test-1 {
    width: 30rem; // this change 30
    height: calc(100vh - 10rem); // this change value 10
    .test-1 {
      width: 30rem; // this change 30
      height: calc(100vh - 10rem); // this change value 10
      padding: 0 0.5rem; // replace 0.5
    }
  }
}

$width: 38rem; // this change value 38

// this remains 2
.test-2rem {
  height: 2rem; // this change value 2
}
// this remains 2
body .test-2rem {
  height: 2rem; // this change value 2
}

$dim: (
  // this change value but not key
  "3rem": 3rem,
  "3": 3rem // this change value but not key,,
);
